*{
    box-sizing: border-box; 
  
    font-family: 'Roboto', sans-serif; 
    padding: 1px;
    margin: 1px;
  
}

body{ 

    background-color: #090d10;
}


.img{

}

.header {
    background-color:   #253239;
    text-align: center;

    border-radius: 65px;
}

h1{
    color: #eadbc3;
    
    font-size: 3vw;
    font-size-adjust: 2;

}

    
.container{
  
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:  center;
  
    color: #f2573c;
}


.item{

    background-color: #1b1f21;

    padding: 5px;
    margin: 10px;
    max-width: 600px;
    text-align: center;
    border-radius: 30px;
    border-color: white;
    flex: 1;
    
}

h2{
    font-size: 90%;
    font-size-adjust: 1;
    padding: 15px;
    margin: 5px;
   
}

p{

    font-family: 'Lato', sans-serif; 
  
    padding: 15px;
    margin: 15px;
    color: #FAEBD7;

    font-size: 90%;
    font-size-adjust: 0.7;

    
}

.align_image{
    margin: 3px;
    text-align: center;
}






